<div class="content-normal-width">
  <h2>Подготовленные материалы</h2>
  <%= render "publications/publications_list" %>
</div>

<script type="text/javascript">
    $(function () {
        $("img.lazy").lazyload({
            event: "scrollstop"
        });
    });
</script>