<div class="content-normal-width">
  <%= render "publications/publications_list" %>
  <%= paginate @publications %>

</div>

<script type="text/javascript">
    $(function () {
        $("img.lazy").lazyload({
            event: "scrollstop"
        });
    });
</script>