<%= form_for(@service_datum) do |f| %>
  <% if @service_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_datum.errors.count, "error") %> prohibited this service_datum from being saved:</h2>

      <ul>
      <% @service_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
